<h1>Listing Users</h1>
<table class="table table-bordered">
    <%= for user <- @users do %>
        <tr>
            <td><b><%= render "user.html", user: user%></b></td>
            <td><%= link "View", to: user_path(@conn, :show, user.id)%></td>
        </tr>
    <%end%>
</table>